@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  html, body {
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  body {
    position: relative;
    background-color: #07499e;
    font-family: 'Montserrat', sans-serif;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://tse2.mm.bing.net/th/id/OIP.D8Uuxz5wd5KHTJgFEjiH3QHaE8?rs=1&pid=ImgDetMain&o=7&rm=3');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -2;
  }

  body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(7, 68, 157, 0.7), rgba(255, 177, 0, 0.4));
    z-index: -1;
  }
}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  --color-primary: #ffa800;
  --color-secondary: #07449d;
  --color-background: #f5f5f5;
  --color-content: #1a1a1a;

  --color-primary-alt: #ee9700;
  --color-secondary-alt: #06338c;
  --color-background-alt: #e4e4e4;
  --color-content-alt: #090909;
}
